<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="margin: auto;
                display: inline ">
        <div style="width: 85vw;
                    max-width: 500px;
                    background-color: #dc3545;
                    color: white;
                    margin: auto;
                    border-radius: 10px;
                    padding: 30px 40px 15px;
                    margin-top: 50px;
                    font-family:Verdana, Geneva, Tahoma, sans-serif;
                    word-wrap: break-word;">
        <h1 style="font-size: 2.2rem; text-align: center;">Password Reset</h1>
        <hr>
        <p style="font-size: 1.5rem;">
            Hello USERNAME, you have made a request for password reset.
        </p>

        <p style="font-size: 1.5rem; font-family:Verdana, Geneva, Tahoma, sans-serif;">
            Enter this OTP to reset the password.
            This OTP is valid for only <u>30 minutes</u>.
        </p>
        <h1 style="text-align: center; font-size: 3rem; letter-spacing: 15px;">OTP_PIN</h1>
        <hr>
        <div>
            <p style="text-align: center; opacity: 0.6;">&copy; Tube @ THIS_YEAR</p>
        </div>
    </div>
</body>
</html>