{% extends 'main.html' %}

{% block content %}
{{ form}}
<div class="home-layout">

    <div class="py-2 ps-1 bg-dark home-tags">
        {% include 'home/tags.html' %}
    </div>

    <div class="videos">
        {% if videos %}
        <h1 class="ms-2 text-white results">{{videos.count}} videos found</h1>
        {% else %}
        <h1 class="ms-2 text-white results">No videos found</h1>
        {% endif %}
        <div class="w-100 videos-home">
            {% include 'home/video-component.html' %}
        </div>
    </div>

</div>

{% endblock %}